$sky-blue: #07cffb;
$dark-blue: #017abe;
$ash: #eff6ff;
$grey-10: #f5f4f4;
$grey-50: #cbc9c9;
$grey-100: #b6b3b3;
$grey-200: #a19e9e;
$grey-300: #8c8888;
$grey-400: #777373;
$grey-500: #615e5e;
$grey-600: #4c4949;
$grey-700: #3c3b3b;
$grey-800: #2d2c2c;
$grey-900: #201f1f;
$black: #0b0a0a;
